.startup {
  background-image: url(/images/jouwen-wang-UChknR2z5EM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.creds {
  font-size: 0.8rem;
  margin: 0;
  position: fixed;
  bottom: 0.7em;
  right: 1em;
  opacity: 0.5;
}
