.row {
  display: flex;
  height: var(--row-height);
  align-items: center;
  padding-left: calc(1rem + var(--indent) * 1rem);
  padding-right: 1rem;
}
.noPadding {
  padding-left: calc(var(--indent) * 1rem);
  padding-right: 0rem;
}
.odd {
  background-color: rgba(var(--dim-colors), 0.05);
}
.group {
  padding-bottom: 0.15rem;
  color: var(--group-color);
  font-weight: bold;
  font-size: 0.8rem;
  background-color: transparent;
  align-items: flex-end;
}
.groupClosed {
  margin-top: 0.5rem;
}
