@import '../../lib/mixins.scss';

.showHide {
  opacity: 0;
  appearance: none;
  background: transparent;
  border: none;
  color: var(--secondary-color);
  padding: 0 0.1rem 0.1rem;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
  &:global.focus-visible {
    opacity: 1;
    @include focusOutline();
  }
}

.row {
  padding-left: calc(1rem + var(--indent) * 1rem);
  padding-right: 1rem;
  &:hover {
    .showHide {
      opacity: 1;
    }
  }
}
.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebarWrap {
  border-right: 1px solid var(--element-border-color);
}

.categorySidebar {
  border-right: none;
  height: calc(100% - var(--month-header-height));
  transition: height 200ms ease-out;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebarHeader {
  height: var(--month-header-height);
  transition: height 200ms ease-out;
  padding: 0.5rem 1rem;
  h3 {
    max-width: calc(var(--sidebar-width) - 2rem);
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}

.icon {
  display: block;
  width: 1.2rem;
  height: 1.5rem;
  background-position: -0.3rem top;
  background-size: 1.3rem;
  background-repeat: no-repeat;
}

.spacer {
  flex-grow: 1;
}
