@import '../../lib/mixins.scss';

.button {
  @include button();
  margin-right: 1em;
  padding: 0.15em 0.8em;
  height: 1.4rem;
  line-height: 1.25;
}

.noMargin {
  margin-right: 0;
}

.primary {
  color: white;
  background-color: rgba(var(--accent-colors), 1);
  &:active:after {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
