.slider {
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  > * {
    scroll-snap-align: start;
    scroll-margin: var(--sticky-width);
  }
}
