.content {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}
.scroll {
  overflow-y: scroll;
}
.padding {
  padding: 0 2rem;
}
.background {
  background: var(--background-color);
}
.flex {
  display: flex;
}
