@import '../../lib/mixins.scss';

.select {
  display: inline-block;
  @include button();
  margin-right: 1em;
  padding: 0;
  &:before {
    z-index: 2;
    content: '▲ ▼';
    font-size: 0.5em;
    line-height: 1.2;
    color: white;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(var(--accent-colors), 1);
    width: 0.9rem;
    padding: 0.35em 0 0 0.65em;
  }

  select {
    appearance: none;
    position: relative;
    z-index: 1;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.15em 0.8em;
    background: transparent;
    border: none;
    max-width: 15em;
    text-overflow: ellipsis;
    padding-right: 2em;
    &:focus {
      outline: none;
    }
    &:global.focus-visible {
      @include focusOutline();
    }
  }
}
