@import '../../lib/mixins.scss';

.budgetSlider {
  width: calc(100vw - var(--sidebar-width));
  background: var(--background-color);
  overflow: scroll;
}
.monthList {
  height: 1.6rem;
  position: relative;
  margin: 0.4rem auto;
  width: 70vw;
  max-width: 40rem;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  border-bottom: none;
}
.monthListInner {
  position: absolute;
  white-space: nowrap;
}
.monthListEntry {
  position: relative;
  display: inline-block;
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  border: none;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 0.9rem;
  background: transparent;
  line-height: 1em;
  transition: border-color 1s;
  &:last-child {
    border-right: none;
  }
}
button.monthListEntry {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:global.focus-visible {
    z-index: 1;
    @include focusOutline();
  }
  &:active {
    background-color: rgba(var(--dim-colors), 0.2);
  }
}
.evenMonthListEntry {
  background-color: rgba(var(--dim-colors), 0.1);
}
.currentMonthListEntry {
  transition: none;
  border-bottom-color: rgba(var(--accent-colors), 1);
}
button.unloadedMonthListEntry {
  cursor: default;
  color: var(--secondary-color);
}
.monthListEntryYear {
  background-color: var(--background-color);
  z-index: 1;
  position: sticky;
  left: 0;
  font-weight: 200;
}
