.header {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  background: var(--header-background-color);
  border-bottom: 1px solid var(--element-border-color);
  z-index: 10;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
}
.trafficLightSpacer {
  margin-left: 78px;
}
.spacer {
  flex-grow: 1;
}
