.header {
  position: fixed;
  top: 0;
  background: var(--header-background-color);
  border-bottom: 1px solid var(--element-border-color);
  z-index: 10;
  height: var(--header-height);
  width: 100%;
}

.dim {
  display: flex;
  background: rgba(var(--undim-colors), 0.1);
}
