@import '../../lib/mixins.scss';

.wrapper {
  display: flex;
  flex-flow: column;
}
.title {
  text-align: center;
  margin: 0;
}
.subtitle {
  text-align: center;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
}
.logo {
  width: 20vw;
  max-width: 175px;
  margin: auto;
  display: block;
}
.recentContainer {
  h4 {
    margin: 0;
  }
}
.recentButton {
  display: block;
  text-align: left;
  border: 2px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: var(--color);
  padding: 0.25rem 0.5rem;
  margin-left: calc(-0.5rem - 2px);
  &:focus {
    outline: none;
  }
  &:global.focus-visible {
    @include focusOutline();
  }
  &:active {
    background-color: var(--button-background-active);
  }
}
.recentTitle {
  display: block;
  font-size: 1rem;
}
.recentFile {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary-color);
}
