@import '../../lib/mixins.scss';

.month {
  min-height: calc(100vh - var(--header-height) - var(--scrollbar-y, 0));
  min-width: calc(100vw - var(--sidebar-width) - var(--scrollbar-x, 0));
  max-width: calc(100vw - var(--sidebar-width) - var(--scrollbar-x, 0));
  height: var(--sidebar-height, 'auto');
  @media (min-width: 800px) {
    min-width: calc((100vw - var(--sidebar-width) - var(--scrollbar-x, 0)) / 2);
    max-width: calc((100vw - var(--sidebar-width) - var(--scrollbar-x, 0)) / 2);
  }
  @media (min-width: 1100px) {
    min-width: calc((100vw - var(--sidebar-width) - var(--scrollbar-x, 0)) / 3);
    max-width: calc((100vw - var(--sidebar-width) - var(--scrollbar-x, 0)) / 3);
  }
}

.monthInner {
  min-height: 100%;
  border-right: 1px solid var(--element-border-color);
  padding-bottom: calc(300px - var(--month-header-height));
  transition: padding 200ms ease-out;
}
.title {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}
.header {
  position: sticky;
  z-index: 20;
  top: 0px;
  height: var(--month-header-height);
  transition: height 200ms ease-out;
  background: var(--background-color);
}

.headerBorder {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  margin: 0;
}
.headTable {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0 3.3rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out 200ms;
  li {
    span {
      display: inline-block;
      width: 50%;
    }
    span:first-child {
      text-align: right;
      padding-right: 0.5rem;
      font-family: var(--font-mono);
      &.bigBudget {
        padding-right: 0.4rem;
      }
    }
    span:last-child {
      line-height: 1.45em;
      padding-left: 0.5rem;
      &.bigBudget {
        padding-left: 0.4rem;
      }
    }
  }
  span.bigBudget {
    line-height: 1.1em;
  }
}
.headTableVisible {
  opacity: 1;
}
.bigBudget {
  font-size: 1.5em;
}
.negative {
  color: var(--negative-color);
}
.body {
  height: 50em;
  background: gray;
}
@mixin budgetRowEntry() {
  text-align: right;
  display: inline-block;
  width: calc(100% / 3);
}
.budgetRow {
  padding-right: 0.5rem;
  padding-left: 3px;
  span {
    @include budgetRowEntry();
    font-weight: 300;
    transition: color 400ms ease-in;
    font-family: var(--font-mono);
    &:first-child {
      width: calc(100% / 3 + 0.5rem - 3px);
    }
  }
}
.budgetRowGroup {
  letter-spacing: 0.12rem;
  span {
    font-weight: bold;
    transform: translate(0.1rem, 0);
    &:first-child {
      transform: none;
    }
    &.negativeBalance {
      color: var(--group-color);
    }
  }
}
.budgetInput {
  font-family: var(--font-mono);
  height: var(--row-height);
  margin: 0;
  border-radius: 1px;
  font-weight: 300;
  font-size: 1em;
  text-align: right;
  width: 100%;
  background: transparent;
  color: var(--main-color);
  border: none;
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 3px var(--secondary-color);
  }
  &:focus {
    @include focusOutline();
    cursor: text;
    z-index: 15;
    color: var(--main-color);
    outline: none;
    background-color: var(--background-color);
  }
}
.budgetTotals {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 2px;
  color: var(--secondary-color);
  div {
    @include budgetRowEntry();
    span {
      color: var(--main-color);
      font-weight: bold;
      font-family: var(--font-mono);
    }
  }
}
.negativeBalance {
  color: var(--negative-color);
}
.zero,
.zero input {
  color: var(--secondary-color);
}
