@import '../../lib/mixins.scss';

.headline {
  margin-bottom: 0.5rem;
  text-align: center;
}

.subheadline {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}

.info {
  background-color: rgba(56, 56, 134, 0.36);
  border-radius: 3px;
  margin-top: 2rem;
  padding: 1rem 0.5rem 1rem 3rem;
  & *:first-child {
    margin-top: 0;
  }
  & *:last-child {
    margin-bottom: 0;
  }
  &:before {
    float: left;
    margin-left: -2rem;
    margin-top: -0.3rem;
    content: 'ℹ️';
  }
}

.inlineButton {
  border: 0;
  font-size: 1em;
  background: transparent;
  color: var(--secondary-color);
  padding: 0;
  &:focus {
    outline: none;
  }
  &:global.focus-visible {
    @include focusOutline();
  }
}

.center {
  text-align: center;
}

.explainFlex {
  display: flex;
}
.explainBody {
  padding: 0.1rem 0;
}
.explainWrap {
  height: 100%;
  width: 100%;
  background: var(--background-color);
  strong {
    text-decoration: underline;
  }
}
.explainSpace {
  padding: 0 4rem;
}
.explainSpaceS {
  padding: 0 2rem;
}

.emboss {
  border: 1px solid var(--element-border-color);
  background: rgba(var(--undim-colors), 0.2);
}

.embossVertical {
  @extend .emboss;
  border-left: 0;
  border-right: 0;
}

.personal {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    max-width: 10rem;
    margin-right: 2rem;
    border-radius: 100%;
  }
  p {
    max-width: 30rem;
    font-size: 1rem;
  }
}

.explainCols {
  & > * {
    margin-bottom: 2rem;
    @media (min-width: 800px) {
      margin-bottom: 0;
      margin-left: 2rem;
      width: 33%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 800px) {
    display: flex;
  }
}

.twoCols {
  & > * {
    margin-bottom: 2rem;
    @media (min-width: 800px) {
      margin-bottom: 0;
      margin-left: 2rem;
      width: 50%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 800px) {
    display: flex;
  }
}
.treasuregramm {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    width: 50%;
    font-size: 1.5rem;
    margin-top: 0;
    img {
      position: relative;
      top: 0.45em;
      margin: 0 0.3em;
    }
  }
  p:first-child {
    text-align: right;
  }
}
.treasureSum {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}
.negative {
  color: var(--negative-color);
}
.treasure {
  text-align: center;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100px;
    max-height: 100px;
  }
  p {
    font-weight: bold;
    margin: 0;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingMM {
  height: 20rem;
  flex-direction: column;
}

.singleBudgetDimensions {
  min-width: 50%;
  max-width: calc(var(--sidebar-width) * 2);
  height: 100%;
}
.singleBudgetWrap {
  @extend .singleBudgetDimensions;
  background: var(--background-color);
  overflow: scroll;
  display: flex;
}
.singleBudgetWrapSmall {
  min-width: 33%;
  max-width: calc(var(--sidebar-width) * 1.5);
}
.singleBudgetWrapFullHeight {
  overflow: visible;
}

.incomeCategoryWrap {
  min-width: 50%;
  max-width: 50%;
}

.table {
  td {
    text-align: center;
  }
}
td.tableTitle {
  text-align: left;
  font-weight: bold;
  background-color: transparent !important;
  width: 5em;
}

.expanseHeadline {
  display: flex;
  align-items: center;
}

.expanseHeadlineSpacer {
  flex-grow: 1;
}

.prevButton {
  font-size: 0.8rem;
}
