[data-theme^='light'] {
  --main-color: rgb(35, 35, 35);
  --background-color: #fff;
}
[data-theme^='dark'] {
  --main-color: #fff;
  --background-color: #000;
}
:root {
  --font-mono: 'Roboto Mono';
  --negative-color: #b00;
}
